
body {
	background-color: white!important;
}

.main {
	background-color: white;
}

#calendar_table    {display: none;}

#calendar_head     {background-color: rgb(223,29,29); color: ivory; letter-spacing: 2px}

.calendar_weekdays {width: 30px; font-size: 10pt; border-bottom-style: solid}

.calendar_dates    {text-align: center; background-color: white}

#calendar_today    {font-weight: bold; 
					color: rgb(223,29,29); 
					background-color: ivory;
                    border: 1px solid black;
                }

.to-do-list {

	background: white;
	width: 50%;
	margin: 0 auto;
	border: 1px solid black;
	height: 100%;
}

.to-do-list h3 {
	font-variant: small-caps;
	font-size: 24px;
	padding: 10px 10px;
	margin: 10px;
}

div.container {
	overflow: auto;
	width: 100%;
}

hr {
	width: 20%;
	height: 100%;
}

#input {
	margin-left: 20px;
	margin-bottom: 20px;
}

#input div {

}

#input div p {
	margin: 0;
    padding-bottom: 5px;
    padding-top: 10px;
    text-decoration: underline;
    font-weight: 700;
    font-family: 'Verdana', sans-serif;
    font-size: 18px;
}

li {
	list-style-type: none;
	margin-left: 10px;
	font-size: 18px;
	font-family: 'Verdana';
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 20px;
  margin-right: 10px;
}

input[type=text]
{
	display: none;
}

input[type=submit]
{
	display: none;
}

.tabMenu {
	display: none;
}

h1 {
	display: none;
}

h2 {
	display: none;
}